@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="text-center mt-4">
        <h1 class="display-4">Bienvenidos a EventCorp 🎪</h1>
        <p>Explora nuestros eventos mágicos y espectáculos inolvidables.</p>
    </div>
    <div id="carouselCirco" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.chilango.com/2018/05/cine-al-aire-libre-en-la-CDMX.jpg" class="d-block w-100" alt="Carpa de circo">
            </div>
            <div class="carousel-item">
                <img src="https://tse4.mm.bing.net/th/id/OIP.Aw2H-kjBz3XVkqgnxAFsDAHaE8?rs=1&pid=ImgDetMain" class="d-block w-100" alt="Show de luces">
            </div>
            <div class="carousel-item">
                <img src="https://loomevents.es/wp-content/uploads/2023/01/Ferias-y-exposiciones-5_3.jpg" class="d-block w-100" alt="Payasos del circo">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCirco" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCirco" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>




</div>
